<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <h2>Add</h2>
    <form action="#" th:action="@{/book}" th:object="${book}" method="post">
        
        <label for="book-title">Title: </label>
        <input type="text" id="book-title">

        <label for="book-isbn">Isbn: </label>
        <input type="text" id="book-isbn">
    
        <label for="book-authors">Author: </label>
        <input type="text" id="book-authors">

        <button type="submit">Save</button>

    </form>


</body>

</html>