<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <h2>Add</h2>
    <form action="#" th:action="@{/book}" th:object="${book}" method="post">
        
        <label>Title: </label>
        <input type="text" th:field="*{title}">
    
        <label>ISBN: </label>
        <input type="text" th:field="*{isbn}">

        <label>Author: </label>
        <input type="text" th:field="*{authors}">

        <button type="submit">Save</button>

    </form>


</body>

</html>