<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Book List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Book List</h1>
        
        <div>
            <nobr>
                <a th:href="@{/book/add}">Add Book</a> |
                <a th:href="@{/}">Back to Index</a>
            </nobr>
        </div>
        <br/><br/>
        <div>
            <table border="1">
                <tr>
                    <th>Isbn</th>
                    <th>Title</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each ="book : ${books}">
                    <td th:text="${book.isbn}"></td>
                    <td><a th:href="@{/book/view/{isbn}(isbn=${book.isbn})}" th:text="${book.title}"></a></td>
                    <td><a th:href="@{/book/edit/{isbn}(isbn=${book.isbn})}">Edit</a></td>
                    <td><a th:href="@{/book/delete/{isbn}(isbn=${book.isbn})}">Delete</a></td>
                </tr>
            </table>          
        </div>
    </body>
</html>