<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <h2>Edit</h2>
    <form action="#" th:action="@{/book}" th:object="${book}" method="post">
        <input type="hidden" th:field="${book.isbn}" id="book-isbn">
        <label for="book-title">Title: </label>
        <input type="text" th:field="${book.title}" id="book-title">
    
        <label for="book-authors">Author: </label>
        <input type="text" th:field="${book.authors}" id="book-authors">
        <button type="submit">Save</button>

    </form>


</body>

</html>