<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to our Book Collection</h1>
    <div>
        <nobr>
            <a th:href="@{/book/add}">Add Book</a> |
            <a th:href="@{/}">Back to Index</a>
        </nobr>
    </div>
</body>
</html>